<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acer.bit">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Splashscreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".LevelActivity"
            android:label="@string/Level"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".PageMateriActivity"
            android:label="@string/Pratahsin1"
            android:parentActivityName=".LevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LevelActivity"/>
        </activity>

        <activity android:name=".TopicActivity"
            android:label="@string/pokok_bahasan1"
            android:parentActivityName=".PageMateriActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PageMateriActivity"/>
        </activity>

        <activity android:name=".ExerciseActivity"
            android:label="@string/Soal_Latihan"
            android:parentActivityName=".TopicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TopicActivity"/>
        </activity>

        <activity android:name=".QuizActivity"
            android:label="@string/Quiz1"
            android:parentActivityName=".ExerciseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ExerciseActivity"/>
        </activity>

        <activity android:name=".AboutActivity"
            android:label="@string/About"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".QuestionActivity"
            android:label="@string/Quiz1"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".ResultActivity"
            android:label="@string/str_results"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".ViewAnswerActivity"
            android:label="@string/str_viewans"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity
            android:name=".Topic2Activity"
            android:label="@string/pokok_bahasan1"
            android:parentActivityName=".TopicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity
            android:name=".Topic3Activity"
            android:label="@string/pokok_bahasan1"
            android:parentActivityName=".Topic2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity
            android:name=".Topic4Activity"
            android:label="@string/pokok_bahasan1"
            android:parentActivityName=".Topic3Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity
            android:name=".Topic5Activity"
            android:label="@string/pokok_bahasan1"
            android:parentActivityName=".Topic4Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity
            android:name=".Topic6Activity"
            android:label="@string/pokok_bahasan2"
            android:parentActivityName=".Topic5Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity
            android:name=".Topic7Activity"
            android:label="@string/pokok_bahasan2"
            android:parentActivityName=".Topic6Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity
            android:name=".Topic8Activity"
            android:label="@string/pokok_bahasan2"
            android:parentActivityName=".Topic7Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity
            android:name=".Topic9Activity"
            android:label="@string/pokok_bahasan2"
            android:parentActivityName=".Topic8Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity
            android:name=".Topic10Activity"
            android:label="@string/pokok_bahasan2"
            android:parentActivityName=".Topic9Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity
            android:name=".Topic11Activity"
            android:label="@string/pokok_bahasan3"
            android:parentActivityName=".Topic10Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity
            android:name=".Question2Activity"
            android:label="@string/Quiz2"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".Result2Activity"
            android:label="@string/str_viewans"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity
            android:name=".ViewAnswer2Activity"
            android:label="@string/str_viewans"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity
            android:name=".Question3Activity"
            android:label="@string/Quiz3"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".Result3Activity"
            android:label="@string/str_viewans"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity
            android:name=".ViewAnswer3Activity"
            android:label="@string/str_viewans"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>


    </application>

</manifest>