<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fissilmi.acer.bit">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.fissilmi.acer.bit.Splashscreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.fissilmi.acer.bit.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.fissilmi.acer.bit.LevelActivity"
            android:label="@string/Level"
            android:parentActivityName="com.fissilmi.acer.bit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.MainActivity"/>
        </activity>

        <activity android:name="com.fissilmi.acer.bit.PageMateri1Activity"
            android:label="@string/Pratahsin1"
            android:parentActivityName="com.fissilmi.acer.bit.LevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.LevelActivity"/>
        </activity>

        <activity android:name="com.fissilmi.acer.bit.PageMateri2Activity"
            android:label="Level 2"
            android:parentActivityName="com.fissilmi.acer.bit.LevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.LevelActivity"/>
        </activity>

        <activity android:name="com.fissilmi.acer.bit.PageMateri3Activity"
            android:label="Level 3"
            android:parentActivityName="com.fissilmi.acer.bit.LevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.LevelActivity"/>
        </activity>


        <activity android:name="com.fissilmi.acer.bit.AboutActivity"
            android:label="@string/About"
            android:parentActivityName="com.fissilmi.acer.bit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.MainActivity"/>
        </activity>

        <activity
            android:name="com.fissilmi.acer.bit.QuestionActivity"
            android:label="@string/Quiz1"
            android:parentActivityName="com.fissilmi.acer.bit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.MainActivity" />
        </activity>

        <activity
            android:name="com.fissilmi.acer.bit.ResultActivity"
            android:label="@string/str_results"
            android:parentActivityName="com.fissilmi.acer.bit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.MainActivity" />
        </activity>

        <activity
            android:name="com.fissilmi.acer.bit.ViewAnswerActivity"
            android:label="@string/str_viewans"
            android:parentActivityName="com.fissilmi.acer.bit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.MainActivity" /></activity>

        <activity android:name="com.fissilmi.acer.bit.Topic1Activity"
            android:label="@string/pokok_bahasan1"
            android:parentActivityName="com.fissilmi.acer.bit.PageMateri1Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.PageMateri1Activity"/>
        </activity>

        <activity android:name="com.fissilmi.acer.bit.Topic2Activity"
            android:label="@string/pokok_bahasan1"
            android:parentActivityName="com.fissilmi.acer.bit.Topic1Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.PageMateri1Activity"/>
        </activity>

        <activity android:name="com.fissilmi.acer.bit.Topic3Activity"
            android:label="@string/pokok_bahasan1"
            android:parentActivityName="com.fissilmi.acer.bit.Topic2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.PageMateri1Activity"/>
        </activity>

        <activity
            android:name="com.fissilmi.acer.bit.Topic4Activity"
            android:label="@string/pokok_bahasan1"
            android:parentActivityName="com.fissilmi.acer.bit.Topic3Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.PageMateri1Activity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.Topic5Activity"
            android:label="@string/pokok_bahasan1"
            android:parentActivityName="com.fissilmi.acer.bit.Topic4Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.PageMateri1Activity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.Topic6Activity"
            android:label="@string/pokok_bahasan2"
            android:parentActivityName="com.fissilmi.acer.bit.Topic5Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.PageMateri2Activity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.Topic7Activity"
            android:label="@string/pokok_bahasan2"
            android:parentActivityName="com.fissilmi.acer.bit.Topic6Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.PageMateri2Activity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.Topic8Activity"
            android:label="@string/pokok_bahasan2"
            android:parentActivityName="com.fissilmi.acer.bit.Topic7Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.PageMateri2Activity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.Topic9Activity"
            android:label="@string/pokok_bahasan2"
            android:parentActivityName="com.fissilmi.acer.bit.Topic8Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.PageMateri2Activity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.Topic10Activity"
            android:label="@string/pokok_bahasan2"
            android:parentActivityName="com.fissilmi.acer.bit.Topic9Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.PageMateri2Activity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.Topic11Activity"
            android:label="@string/pokok_bahasan3"
            android:parentActivityName="com.fissilmi.acer.bit.Topic10Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.PageMateri3Activity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.Topic12Activity"
            android:label="@string/pokok_bahasan3"
            android:parentActivityName="com.fissilmi.acer.bit.Topic11Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.PageMateri3Activity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.Topic13Activity"
            android:label="@string/pokok_bahasan3"
            android:parentActivityName="com.fissilmi.acer.bit.Topic12Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.PageMateri3Activity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.Question2Activity"
            android:label="@string/Quiz2"
            android:parentActivityName="com.fissilmi.acer.bit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.MainActivity" />
        </activity>

        <activity
            android:name="com.fissilmi.acer.bit.Result2Activity"
            android:label="@string/str_viewans"
            android:parentActivityName="com.fissilmi.acer.bit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.MainActivity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.ViewAnswer2Activity"
            android:label="@string/str_viewans"
            android:parentActivityName="com.fissilmi.acer.bit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.MainActivity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.Question3Activity"
            android:label="@string/Quiz3"
            android:parentActivityName="com.fissilmi.acer.bit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.MainActivity" />
        </activity>

        <activity
            android:name="com.fissilmi.acer.bit.Result3Activity"
            android:label="@string/str_viewans"
            android:parentActivityName="com.fissilmi.acer.bit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.MainActivity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.ViewAnswer3Activity"
            android:label="@string/str_viewans"
            android:parentActivityName="com.fissilmi.acer.bit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.MainActivity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.Listening1Activity"
            android:label="@string/listening_quiz1"
            android:parentActivityName="com.fissilmi.acer.bit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.MainActivity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.Listening2Activity"
            android:label="@string/listening_quiz2"
            android:parentActivityName="com.fissilmi.acer.bit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.MainActivity" /></activity>

        <activity
            android:name="com.fissilmi.acer.bit.Listening3Activity"
            android:label="@string/listening_quiz3"
            android:parentActivityName="com.fissilmi.acer.bit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fissilmi.acer.bit.MainActivity" /></activity>


    </application>

</manifest>